body{
	font-family:Arial;
	line-height:130%;
	font-size:14px;
	color:#464646;
	background-color:#eee;
	cursor:default;
	margin-top:0px;
	margin-bottom:0px;
	
	}

.div1{width:960px; text-align:left;}
span, td, a, p{ font-family:Arial; color:#464646;}

button,input,select{ font-size:14px; font-family:Arial; color:#464646;}

.defaultInput { color:#777;}

.content_container {
background-color:white;
border-left:1px solid silver;
border-right:1px solid silver;
}

.datatable {width:100%;}

fieldset {padding:0px;}
.fieldsetPadding {padding: 5px;}

.containerdiv{ 
padding-left:5px;
padding-top:20px;
padding-bottom:10px;
padding-right:5px;}

.title{ font-size:28px;}

a.subtitle{ font-size:20px;}			
a{ text-decoration:none;}
a:hover{ text-decoration:underline;}

table.header,table.footer{
background-color:#777777; 
background-repeat:repeat;
background-position:center;
width:100%;
}

hr{ border-style:dotted; color:Silver; }

span.page_ud{ font-size:12px;}

.whiteText, .whiteText a{
color:white;
}

h3 {margin-left:0px; margin-bottom:5px; margin-top:5px; margin-right:0px;}

/* border */
.containerborder {
border:1px solid silver; 
padding:5px;
}

.whitebg{
background-color:white;
}

.notice{
color:red;
}

.redbg{
background-color:red;
}

.paddingCenterText{
padding-left: 10px;
padding-right: 10px;
}